<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>portfólio</title>
  <link rel="stylesheet" href="/workspaces/Portf-lio/portfolio/app/static/style.css">
</head>

<body>
  <header>
    <h1 class="título">Portfólio</h1>
    <nav class="navigate">
      <a href="#">Cúrriculo</a>
      <a href="#">Notoriedades</a>
    </nav>
  </header>
  <p>Me chamo Heitor Guilherme Rezende Queiroz Silva, sou estudante da FATEC de São José dos Campos, do curso de Análise e Desenvolvimento de Sistemas do primeiro semestre</p>
  <ul>
  </ul>
  <p>Contato: <a href="mailto:heitorguilhermerqs@gmail.com">heitorguilhermerqs@gmail.com</a></p>
</body>
</html>
