<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>portfólio</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <nav class="navigate">
      <a ref="#">Cúrriculo</a>
      <a ref="#">Notoriedades</a>
    </nav>
  </header>
  <h3>Me chamo Heitor Guilherme Rezende Queiroz Silva</h3>
  <p>Sou estudante da FATEC, do curso de Análise e Desenvolvimento de Sistemas do primeiro semestre</p>
  <ul>
  </ul>
  <p>Contato: <a href="mailto:heitorguilhermerqs@gmail.com">heitorguilhermerqs@gmail.com</a></p>
</body>
</html>
