<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Minha Página</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="navegacao">
    <h1>Portfólio</h1>
    <nav>
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="sobre.html">Sobre Mim</a></li>
        <li><a href="#">Notoriedades</a></li>
        <li><a href="#">Currículo</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h3>Quem Sou?</h3>
    <p>Me chamo Heitor Guilherme Rezende Queiroz Silva Sou estudante da FATEC, do curso de Análise e Desenvolvimento de Sistemas do primeiro semestre. Nasci em São José dos Campos, e planejo montar minha própria empresa de software no futuro</p> 
    
  </main>
</body>
</html>

